/*Footer*/
.container {
    width: auto;
    /*max-width: 680px;*/
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}

/*Index Page and Login Form*/
body {
    font-family: "Lato", sans-serif;
}

.left-side-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.left-side-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}