<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title th:text="${quiz['new']} ? 'Create Quiz!' : 'Update Quiz!'">Title</title>
</head>

<body>
<div class="container-fluid vh-100">
    <div th:replace="fragments/fragments :: navbar"></div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" th:text="#{app.name}">Application name.</h1>
            <p class="lead">Create an Awesome Quiz!</p>
        </div>
    </div>

    <form class="form-group" th:object="${quiz}" th:with="link=${quiz['new']} ? '/quiz/create' : '/quiz/update'"
          th:action="@{${link}}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Quiz name:</span>
            </div>
            <input type="text" th:class="${#fields.hasErrors('name')}?'form-control is-invalid':'form-control'"
                   aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" placeholder="Enter here quiz name..."
                   th:field="*{name}"/>
        </div>

        <div class="form-row">
            <div class="input-group col-md-10">
                <div class="input-group-prepend">
                    <span class="input-group-text">Quiz description:</span>
                </div>
                <textarea th:class="${#fields.hasErrors('description')}?'form-control is-invalid':'form-control'"
                          aria-label="With textarea" th:field="*{description}"
                          placeholder="Enter here quiz description..."></textarea>
            </div>

            <div class="input-group col-md-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Specialty:</span>
                </div>
                <div th:if="${quiz['new']}">
                    <select class="form-control" th:field="*{specialty}">
                        <option th:each="specialty,itemSpecialty:${specialtiesList}" th:value="${specialty.id}"
                                th:text="${specialty.description}" th:selected="${itemSpecialty.count}==1">Specialty...
                        </option>
                    </select>
                </div>
                <div th:if="*{specialty}">
                    <select class="form-control" th:field="*{specialty}">
                        <option th:each="specialty:${specialtiesList}" th:value="${specialty.id}"
                                th:text="${specialty.description}">Specialty...
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div th:each="question,itemQuestion:*{questions}">

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"
                          th:text="'Question '+${itemQuestion.count}+':'">Question:</span>
                </div>
                <input type="hidden" th:field="*{questions[__${itemQuestion.index}__].id}"/>
                <input type="hidden" th:field="*{questions[__${itemQuestion.index}__].quiz}"/>
                <input type="text"
                       th:class="${#fields.hasErrors('*{questions[__${itemQuestion.index}__].description}')}?'form-control is-invalid':'form-control'"
                       aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm"
                       th:field="*{questions[__${itemQuestion.index}__].description}"
                       placeholder="Enter here question..."/>
            </div>

            <div th:each="answer,itemAnswer:*{questions[__${itemQuestion.index}__].answers}">

                <input type="hidden"
                       th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].id}"/>
                <input type="hidden"
                       th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].question}"/>

                <div class="input-group w-75 offset-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input"
                                   th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].isRight}"/>
                        </div>
                    </div>
                    <input type="text"
                           th:class="${#fields.hasErrors('*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].description}')}?'form-control is-invalid':'form-control'"
                           aria-label="Text input with radio button"
                           th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].description}"
                           placeholder="Enter here answer..."/>
                </div>
            </div>
        </div>

        <button
                th:with="text=${quiz['new']} ? 'Create!' : 'Update!'"
                class="btn btn-secondary float-right" type="submit" th:text="${text}">Button!
        </button>
    </form>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>