<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">

    <title th:text="Quiz">Title</title>
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/fragments :: navbar"></div>

    <form class="form-group" th:object="${quiz}" th:action="@{/quiz/pass}" method="post">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="*{name}">Quiz name.</h1>
                <p class="lead" th:text="*{description}">Quiz description.</p>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{description}"/>
        <input type="hidden" th:field="*{user}"/>

                <div class="card border-light mb-3" th:each="question,itemQuestion:*{questions}">
                    <input type="hidden" th:field="*{questions[__${itemQuestion.index}__].id}">
                    <input type="hidden" th:field="*{questions[__${itemQuestion.index}__].quiz}">
                    <input type="hidden" th:field="*{questions[__${itemQuestion.index}__].description}">
                    <div class="card-header"  th:text="'Question '+${itemQuestion.count}+':'">Question:</div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="*{questions[__${itemQuestion.index}__].description}">Some question
                            description...</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"
                                th:each="answer,itemAnswer:*{questions[__${itemQuestion.index}__].answers}">
                                <input type="hidden"
                                       th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].id}"/>
                                <input type="hidden"
                                       th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].question}"/>
                                <input type="hidden"
                                       th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].description}"/>
                                <div class="input-group w-75 offset-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" aria-label="Checkbox for following text input"
                                                   th:field="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].isRight}"
                                            th:value="false"/>
                                        </div>
                                    </div>
                                    <p class="input-group-text badge-light" th:text="*{questions[__${itemQuestion.index}__].answers[__${itemAnswer.index}__].description}">
                                        Answer description...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            <button class="btn btn-default" type="submit">Check!</button>
    </form>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script src="../../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>