<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>
        Quiz Progress
    </title>
</head>
<body class="min-vh-100">
<div th:replace="fragments/fragments :: navbar"></div>

<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Quiz results.</h1>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" th:style="'width: '+${percentage}+'%;'"
             th:aria-valuenow="${percentage}" th:aria-valuemin="0" aria-valuemax="100" th:text="${percentage}+'%'">25%
        </div>
    </div>

    <br>

    <div class="card border-light mb-lg-5" th:each="questionEntry,itemQuestion:${questionsMap}">
        <div class="card-header" th:text="'Question '+${itemQuestion.count}+':'">Question:</div>
        <div class="card-body">
            <h5 class="card-title" th:text="${questionEntry.key.description}">Some question
                description...</h5>
            <ul class="card-text list-group list-group-flush">
                <li class="list-group-item"
                    th:each="answerEntry,itemAnswer:*{questionEntry.value}">
                    <div class="input-group w-75 offset-3">
                        <div class="input-group-prepend">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"
                                          th:text="*{itemAnswer.count +'.'}">№</span>
                                </div>
                            </div>
                        </div>
                        <div th:switch="*{answerEntry.value}">
                            <div th:case="null" class="alert alert-warning" th:text="*{answerEntry.key.description}">
                                Answer...
                            </div>
                            <div th:case="false" class="alert alert-danger" th:text="*{answerEntry.key.description}">
                                Answer...
                            </div>
                            <div th:case="true" class="alert alert-success" th:text="*{answerEntry.key.description}">
                                Answer...
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script src="../../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>