<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">

    <title th:text="#{page.title.index}">Title</title>
</head>

<body>

<div th:replace="fragments/fragments :: navbar"></div>

<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2 w-100" style="background-color: #4e555b">
            <div class="left-side-main-text">
                <h1 th:text="#{app.name}">Application</h1>
                <h3>Hello!</h3>
                <p>Do you want to be the best?</p>
            </div>
        </div>

        <div class="col">
            <div class="row h-100 justify-content-center align-items-center">
                <a th:href="@{/menu}">
                    <button class="btn-lg btn-dark">Let's start!</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script src="../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>