<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">

    <title th:text="LogIn">Title</title>
</head>

<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-4 w-100" style="background-color: #4e555b">
            <div class="left-side-main-text">
                <h1 th:text="#{app.name}">Application</h1>
                <h3>Login Page</h3>
                <p>Login or register for full access...</p>
            </div>
        </div>
        <div class="col-8">
            <div style="width:30%; margin-top: 30%">
                <form th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control"
                               placeholder="username..."
                               aria-label="Username" aria-describedby="basic-addon1"
                               th:name="username"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">**</span>
                        </div>
                        <input type="password" class="form-control"
                               placeholder="password..."
                               aria-label="Username" aria-describedby="basic-addon2"
                               th:name="password"/>
                    </div>
                    <button type="submit" class="btn btn-black">LogIn</button>
                    <a th:href="@{/register}">
                        <button type="button" class="btn btn-secondary">Register</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script src="../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>