<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">

    <title th:text="${user['new']} ? 'Register!' : 'Update!'">Title</title>
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/fragments :: navbar"></div>

    <form class="form-group" th:object="${user}" th:with="link=${user['new']} ? '/user/create' : '/user/update'"
          th:action="@{${link}}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{encryptedPassword}"/>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" th:class="${#fields.hasErrors('username')}?'form-control is-invalid':'form-control'"
                   placeholder="Enter here username..."
                   aria-label="Username" aria-describedby="basic-addon1" th:field="*{username}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">**</span>
            </div>
            <input type="password" th:class="${#fields.hasErrors('password')}?'form-control is-invalid':'form-control'"
                   placeholder="Enter here password..."
                   aria-label="Username" aria-describedby="basic-addon2" th:field="*{password}">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">First and Last name:</span>
            </div>
            <input type="text" aria-label="First name"
                   th:class="${#fields.hasErrors('firstName')}?'form-control is-invalid':'form-control'"
                   placeholder="Enter here your First name..." th:field="*{firstName}"/>
            <input type="text" aria-label="Last name"
                   th:class="${#fields.hasErrors('lastName')}?'form-control is-invalid':'form-control'"
                   placeholder="Enter here your Last name..." th:field="*{lastName}"/>
        </div>

        <button
                th:with="text=${user['new']} ? 'Register!' : 'Update!'"
                class="btn btn-default" type="submit" th:text="${text}">Button!
        </button>
    </form>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script src="../../static/js/jquery.slim.min.js" th:src="@{/js/jquery.slim.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>

