<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="shortcut icon" th:href="@{images/favicon.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">

    <title>
        User Profile
    </title>
</head>
<body>

<div th:replace="fragments/fragments :: navbar"></div>

<div class="container-fluid vh-100">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" th:text="#{app.name}+' Application.'">theTutor Application.</h1>
            <p class="lead">User's Profile.</p>
        </div>
    </div>

    <div class="card border-light mb-3">
        <div class="card-header">
            <div class="float-left" th:text="'@'+${user.username}">@username.</div>
            <div class="row float-right">
                <div th:if="${#authentication.name}!=${user.username}" sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/user/{id}/delete(id=${user.id})}">
                        <button class="btn-dark">
                            <i class="fas fa-trash fa-lg"></i>
                        </button>
                    </a>
                </div>
                <div th:if="${#authentication.name}==${user.username}"
                     sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/update}">
                        <button class="btn-dark">
                            <i class="far fa-edit fa-lg"></i>
                        </button>
                    </a>
                    <a th:href="@{/user/{id}/delete(id=${user.id})}">
                        <button class="btn-dark">
                            <i class="fas fa-trash fa-lg"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <h5 class="input-group-text badge-light" th:text="${user.username}">Username.</h5>
            </div>

            <div class="input-group mb-3">
                <h5 class="input-group-text badge-light" th:text="${user.email}">Email.</h5>
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@email.example</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" th:text="${#lists.size(user.roles)}>1?'Roles:':'Role:'">Role:</span>
                </div>
                <p class="input-group-text badge-light">
                    <strong th:each="role,itemRole:${user.roles}">
                        <i th:text="${#lists.size(user.roles)>itemRole.count}?${user.roles[__${itemRole.index}__].name}+',&nbsp;':${user.roles[__${itemRole.index}__].name}">
                            Role.
                        </i>
                    </strong>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="pl-3" th:href="@{/user/{id}/admin(id=${user.id})}">
                        <button class="btn-dark">
                            <i th:class="${user.roles.contains(roleAdmin)}?'fa fa-thumbs-down fa-lg':'fa fa-thumbs-up fa-lg'"></i>
                        </button>
                    </a>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">First and Last name:</span>
                </div>
                <h5 class="input-group-text badge-light" th:text="${user.firstName}">First Name.</h5>
                <h5 class="input-group-text badge-light" th:text="${user.lastName}">Last Name.</h5>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>