<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>Fragments</title>
</head>
<body>
<div class="navbar navbar-light bg-dark" th:fragment="navbar">
    <div class="float-left">
        <div sec:authorize="isAnonymous()">
            <a class="navbar-brand" th:href="@{/index}">
                <img th:src="@{~/images/logo.png}" class="d-inline-block align-top">
                <strong class="text-light">theTutor</strong>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="navbar-brand" th:href="@{/user/{username}(username=${#authentication.getName()})}">
                <img th:src="@{~/images/logo.png}" class="d-inline-block align-top">
                <strong class="text-light" th:text="${#authentication.name}">Hi, theTutor!</strong>
            </a>
        </div>
    </div>

    <div class="float-right">
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()">
            <button class="btn btn-secondary" th:text="LogIn">Button</button>
        </a>
        <a th:href="@{/menu}" sec:authorize="isAuthenticated()">
            <button class="btn btn-secondary" th:text="Menu">Button</button>
        </a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">
            <button class="btn btn-secondary" th:text="LogOut">Button</button>
        </a>
    </div>
</div>

<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="container">
        <span class="text-muted">by Artsiom Baranau. &#169; 2021</span>
    </div>
</footer>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>